@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}
@layer components {
  /* group utilities */

  /* start product slider navigation button  */
  .ISPager {
    display: none;
  }
  .lSAction {
    /* @apply !border-2 border-blue-500; */
  }
  .lSAction > a {
    background-color: #00000033;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-image: none;
    display: flex;
    @apply font-bold text-xl flex items-center justify-center pb-1 !bg-gray-800 !z-10;
  }
  .lSAction > a ::after {
    position: absolute;
    content: "";
    margin: auto;
    border: solid#ffffff;
    border-width: 0px 4px 4px 0px;
    display: inline-block;
    @apply !bg-gray-800;
  }
  .lSAction > .lSPrev::after {
    content: "<";
    @apply !bg-gray-800 text-white;
  }
  .lSAction > .lSNext::after {
    content: ">";
    @apply text-white;
  }
  /* end product slider navigation button  */

  /* start header  */
  .cat-title:hover .cat-icon {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(255 255 255 / var(--tw-ring-opacity));
  }
  .cat-item:hover .sub-cat {
    display: block;
  }
  .sub-cat-item:hover .sub-sub-cat {
    display: block;
  }

  /* end header  */

  /* start table  */
  .table-row-space {
    border-collapse: separate;
    border-spacing: 0px 15px;
  }
  /* end table  */
}
@layer utilities {
}
